*{
    margin: 0;
    padding: 0;
}

:root{
    font-family: serif;
    font-size: 16px;
}

body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.container{
    border: 1px solid;
    margin: 2rem 0;
    padding: 0 200px;
    height: auto;
    width: 100%;
}

.container * { 
    line-height: 2rem;
}

.container ul, ol   {
    list-style-position: inside;
}
.container a {
    text-decoration: none;
    color: black;
}
.container a:hover{
    color: brown;
    font-size: larger;
}

.container h1{
    font-size: 2rem;
}

.container img{
    width: 100%;
}

.container img + p{
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.right ul{
    display: flex;
    gap: 2rem;
    background: hotpink;
}
li{
    list-style: none;
}
nav{
    position: sticky;
    top: 0;
    display: flex;
    background: hotpink;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0;
    
}
nav div{
    margin: 0 3rem;
}